<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <root>
    <level value="ALL"/>
    <appender-ref ref="console"/>
    <appender-ref ref="file"/>
  </root>
  <appender name="console" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %level %logger - %message%newline"/>
    </layout>
  </appender>
  <appender name="file" type="log4net.Appender.RollingFileAppender">
    <file value="App.log"/>
    <!-- Agrega las lineas a el archivo en lugar de crear uno nuevo -->
    <appendToFile value="true"/>
    <!-- Creara un nuevo archivo de log cada vez que se alcanze el tamaño especificado -->
    <!--<rollingStyle value="Size"/>-->
    <!-- Creara un nuevo archivo de log por dia -->
    <rollingStyle value="Date"/>
    <!--<datePattern value="ddMMyyyy"/>-->
    <datePattern value="ddMMyyyy"/>
    <!-- Tamaño maximo de archivos -->
    <maxSizeRollBackups value="5"/>
    <maximumFileSize value="10MB"/>
    <!-- Especifica que el nombre no cambiara -->
    <!--<staticLogicFileName value="true"/>-->
    <layout type="log4net.Layout.PatternLayout">
      <!--<conversionPattern value="%date %level %logger - %message%newline"/>-->
      <conversionPattern value="%date [%thread] %level %logger - %message%newline"/>
    </layout>
  </appender>
</log4net>